Consider the Archived-At header in DKIM-ID generation

The `Archived-At` header was introduced by [RFC 5064](https://datatracker.ietf.org/doc/html/rfc5064) for mailing list managers to give a link to an archived message. It was not included in [RFC 6376 § 5.4.1](https://datatracker.ietf.org/doc/html/rfc6376#section-5.4.1) as a recommended header to sign, even though it did recommend signing `List-Archive`. Since `Archived-At` is a refinement of `List-Archive` with a very similar purpose it may be worthwhile including it in the DKIM-ID generation algorithm. Its omission from RFC 6376, whose recommendations are not anyway intended to be exhaustive, was possibly an oversight.


It depends when it is added as a header. If it is only ever added by the original list manager, that would be OK.
However if it can be added later, then it would affect the stability of id generation.